@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #272a31;
  font-family: 'Lato', sans-serif;
}

.numberclass {
  font-family: 'Lato', sans-serif;
  font-weight: bolder !important;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100vw;
  color: #FFF;
  height: 5rem;
  padding: 2em;
}

.navbar-logo {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  list-style-type: none;
  width: 100%;
  margin-top: -70px;
  padding: 0;
  top: 0;
  left: 0;
  height: 23px;
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu li {
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
  padding: 0.5em 0;
  width: 100%;
  color: white;
}

.menu a {
  font-size: 25px;
  color: #ec5242;
}

.primarycolor {
  color: #ec5242 !important;
}

.menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #272a31;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
  height: 2.5em;
  padding: 0.5em;
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu {
  background-color: #272a31;
  opacity: 0.98;
  margin-top: 9vh;
  height: 93vh;
}

.pre-navbar {
  display: none;
}

#unique-item {
  display: none;
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    background-color: white;
  }
  .menu-button-container {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: static;
    list-style-type: none;
    width: 100vw;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu li {
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0;
    padding: 0 0;
    width: 20%;
    color: white;
    overflow: none;
  }
  .menu a {
    color: #272a31;
  }
  .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  #menu-toggle ~ .menu li {
    height: 10px;
    padding-top: 24px;
    color: #272a31;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .pre-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 8vh;
    width: 100vw;
    padding: 0 30px;
    color: #ec5242;
  }
  .pre-navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .pre-navbar ul li {
    font-size: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: white;
  }
  #unique-item {
    display: block;
    height: 2.25rem;
  }
}

#unique-item {
  color: #ec5242;
  border: 4px solid red;
  padding: .3rem;
}

.bg-color {
  background-color: #272a31;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding-right: 10px;
  gap: 40px;
  background-image: url("../img/main_big.png");
  background-position: center;
  background-size: cover;
}

.hero h1 {
  font-family: 'COCOGOOSE';
  padding-left: 1rem;
  color: #ec5242;
  line-height: 1.5;
  font-size: 2.1rem;
  margin-top: 6rem;
}

.hero span {
  color: #ec5242;
  font-size: 2rem;
  font-weight: 400;
}

.header-text2 {
  color: #4F4F4F;
  font-size: 30px;
  font-family: 'COCOGOOSE';
  padding-left: 1rem;
}

.header-text3 {
  color: #4F4F4F;
  font-size: 30px;
  font-weight: 400;
  padding-left: 1rem;
  padding-bottom: 50px;
}

.header-text {
  padding: 30px;
  margin-left: 1rem;
  width: 95vw;
  font-size: 19px;
  background-color: #F7F7F8;
  border: 4px solid white;
}

#typed-text {
  font-family: 'Smooch', cursive;
}

.vector1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.vector2 {
  padding-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero h1 {
    padding-left: 5.5rem;
    padding-top: 2rem;
  }
  .vector1 {
    display: none;
  }
  .vector3 {
    display: none;
  }
  .logo {
    display: none;
  }
  .header-text {
    margin-left: 5.5rem;
    width: 53vw;
  }
  .header-text2 {
    padding-left: 5.5rem;
  }
  .header-text3 {
    padding-left: 5.5rem;
    padding-bottom: 50px;
  }
}

.book-section {
  height: auto;
  width: 100%;
  background-color: #272a31;
  background-image: url("../img/program-x.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book-section h3 {
  font-size: 25px;
  padding-top: 35px;
  color: #ec5242;
  text-align: center;
}

.book-section a {
  cursor: pointer;
  color: #272a31;
  text-decoration: none;
}

.book-section button {
  border: none;
  outline: none;
  height: 70px;
  width: 50vw;
  background-color: #ec5242;
}

.book-section button a {
  font-weight: 400;
  font-family: 'COCOGOOSE';
  color: #F7F7F8;
}

.booktitle {
  text-align: center;
  font-size: 18px;
  font-family: 'COCOGOOSE';
  padding: 10px 0;
}

.btn {
  margin-bottom: 30px;
}

.title-book-section {
  background-color: #ec5242;
}

.Books {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 10px 30px;
  grid-row-gap: 25px;
}

.book-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  place-items: center center;
  background-color: #3c3f4675;
}

.book-holder-color {
  background-color: white;
}

.image-holder {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.lineheight {
  margin: auto auto;
  height: 1px;
  width: 4rem;
  margin-top: 1rem;
}

.description {
  color: #272a31;
}

.whitecolor {
  color: white !important;
}

.primarycolor {
  color: #ec5242;
}

.moresection {
  display: none;
}

@media (min-width: 768px) {
  .book-section h3 {
    padding: 50px 0;
  }
  .lineheight {
    margin-top: -2.5rem;
    margin-bottom: 2rem;
  }
  .Books {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
  }
  .book-holder {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background-color: #3c3f4675;
    grid-column-gap: 10px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .book-holder:hover {
    border: 2px solid #fff;
    margin-top: -1rem;
  }
  .btn {
    display: none;
  }
  .moresection {
    text-align: center;
    display: block;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 3rem 0;
  }
}

.hotSellingBooks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

button {
  border: none;
  outline: none;
  height: 3rem;
  width: 85vw;
  background-color: white;
  border: 1px solid #272a31;
  font-weight: 300;
  font-size: 20px;
}

button img {
  padding-left: 13px;
  padding-bottom: 2px;
}

.btn2 {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: baseline;
}

.descriptionColor {
  color: #272a31;
}

.bg-color {
  background-color: #272a31;
}

.shadow {
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

.HotBooks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 10px 30px;
  grid-row-gap: 25px;
}

.Hotbook-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  place-items: center center;
}

.lineHeightHotSection {
  margin: auto auto;
  height: 1px;
  width: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .hotSellingBooks h3 {
    height: 5vh;
  }
  .lineHeightHotSection {
    margin: auto auto;
    height: 1px;
    width: 4rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .Hotbook-holder {
    padding: 20px;
  }
  .HotBooks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 10px;
  }
}

footer {
  display: none;
}

@media (min-width: 768px) {
  footer {
    display: block;
  }
  .footerhead {
    background-color: #2a2a2a;
  }
  .footertitle {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #919193;
  }
  .images {
    padding: 50px 0;
  }
  .imgcontainer {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .lineHeightfooter {
    margin: auto auto;
    height: 1px;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #ec5242;
  }
  .footerfoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto auto;
  }
  .footerfoot p {
    font-size: 30px;
    font-family: 'COCOGOOSE';
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
}

.sub-about {
  font-size: 25px;
  width: 80vw;
  text-align: center;
}

.sub-about p {
  color: #272a31;
}

.lineheightabout {
  margin: auto auto;
  height: 2px;
  width: 30%;
  margin-top: 2%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.social-media-icons {
  margin-top: 10px;
}

.logo2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: start;
      justify-self: start;
}
/*# sourceMappingURL=main.css.map */