.hotSellingBooks {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    font-size: 1.3rem;
    margin-top: 20px;
    background-color: $primarycolor;
}

.descriptionColor {
    color: $bg-color;
}

.bg-color {
    background-color: $bg-color;
}

.shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}