.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    padding-right: 10px;
    gap: 44px;

    h1 {
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
    }

    h3 {
        padding: 0 10px;


    }

    span {
        color: $primarycolor;
    }
}

.logo {
    align-self: center;
}

.vector1 {
    align-self: flex-end;
}

.vector2 {
    padding-top: 30px;
    align-self: center;
}