.book-section {
    height: auto;
    width: 100%;
    background-color: $bg-color;
    background-image: url("/img/texture-bg.png");
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        font-size: 25px;
        padding-top: 35px;
        color: $primarycolor;
        text-align: center;
    }
    a {
        cursor: pointer;
        color: $bg-color;
        font-size: 20px;
        text-decoration: none;

    }

    button {
        border: none;
        outline: none;
        height: 40px;
        width: 200px;
        background-color: $primarycolor;
        color: $bg-color;
    }
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.title-book-section {
    // border-bottom: 1px solid;
    background-color: $primarycolor;
}

.Books {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 10px 0;
    grid-row-gap: 25px;
}

.book-holder {
display: grid;
grid-template-columns: 150px 1fr;
place-items: center center;
}

.image-holder {
    align-self: baseline;
}

.lineheight {
    height: 1px;
    width: 19%;
    margin-top: 3%;
}

.description {
    color: white;
}
