footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    p {
        width: 150px;
    }
}

.lineheight2 {
    height: 0.1px;
    margin-top: 2rem;
}