$bg-color: #505050;
$primarycolor: #FEBD01;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: $bg-color;
    font-family: 'Lato', sans-serif;
}